<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mil Sabores Cambiar Contraseña</title>
    <link rel="stylesheet" href="/assets/sweetalert/css/sweetalert2.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/styles.css">

</head>

<body id="body">
    
    <div class="col" id="col-feat-left-4" style="padding: 0px;width: 100%;">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" style="color: rgb(255,255,255);text-align: center;background: rgb(174,193,9);border-radius: 5px;padding: 5px;font-size: 40px;">Cambia su contraseña</h4>
            </div>
        </div><!-- Start: Registration Form with Photo -->
        <section class="register-photo">
            <!-- Start: Form Container -->
            <div class="form-container">
                <form method="post" id="form">
                    <div class="mb-3" style="margin-top: 16px;"><input class="form-control" title="Ingrese una contraseña de mínimo 6 caracteres" type="password" id="password" name="password" placeholder="Contraseña Nueva (mínimo 6 caracteres)" minlength="6" style="background: rgb(218,218,130);border-radius: 5px;" required></div>
                    <div class="mb-3"><input class="form-control" type="password" title="Ingrese nuevamente su contraseña de mínimo 6 caracteres" name="password-confirm" id="password-confirm" placeholder="Ingrese contraseña nuevamente" style="background: rgb(218,218,130);border-radius: 5px;" minlength="6" required></div>
                    <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="background: rgb(174,193,9);color: rgb(255,255,255);border-radius: 5px;">Cambiar ahora</button></div>
                </form>
            </div><!-- End: Form Container -->
        </section><!-- End: Registration Form with Photo -->
    </div>
    <script src="/assets/sweetalert/js/sweetalert2all.js"></script>
    <script src="/assets/bootstrap/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/change-pass/index.js"></script>
</body>

</html>