<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo verificado</title>
    <link rel="stylesheet" href="/assets/sweetalert/css/sweetalert2.css" rel="stylesheet" type="text/css" />
   
</head>

<body style="background-color: rgb(240, 248, 164)">
    <script src="/assets/sweetalert/js/sweetalert2all.js"></script>
    <script src="/assets/invalid-key/index.js"></script>
</body>
</html>